SUBSYSTEM=="tty", KERNELS=="1-1.5", SYMLINK+="ttyDesktopReader"
SUBSYSTEM=="tty", KERNELS=="1-1.4", SYMLINK+="ttyPrinterReader"
SUBSYSTEM=="tty", KERNELS=="1-1.7", SYMLINK+="ttyCashDrawer"
